.container {
    width: 300px;
    padding: 0px 10px;
    margin: 0px auto;
}

.div {
    border: 5px #6bc ridge;
    border-radius: 10px;
    margin: 0px 5px 5px 5px;
    padding-top: 0px;
    width: 285px;
    box-shadow: -10px 10px 10px silver;
    background-color: #689;
    font-size: 11px;
    color: white;
}

body {
    margin: 0;
    background-color: #f3df87;
    text-align: center
}

p {
    font-size: 0px
}

td {
    width: 19vw;
    height: 13.8vh;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: rgb(22, 49, 80);
    border: 1px solid white;
    font-family: Lucida Sans;
}

td:hover {
    background-color: #CDBA1E
}

input {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 25px;
    font-weight: bold;
    padding: 0px 5px;
}

#shiftBtn {
    background-color: #c4b470;
}